<div class="container">
<div class="entry">
  <div class="body">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{entry.fields.productName}}</h3>
      </div>
      <div class="panel-body">
        {{entry.fields.productDescription}}
      </br></br>
        <i>£{{entry.fields.price}}</i>
      </div>
      <a class="thumbnail">
        <img src="https://images.contentful.com/xlmhuyr0apt7/KTRF62Q4gg60q6WCsWKw8/3d1d375a943c121b074f68343c312954/soso.clock.jpg" height="70px" alt="...">
      </a>
    </div>
  </div>
</div>
</div>
